
:root{
    --logo-color: #2196F3;
   --main-background-color: #2F303A; 
    --font-color:#FFFFFF;
    --title-color: #212121;
    --nav-color:#757575;
    --team-background-color: #F5F4FA;
    --header-background-color:#ECECEC ;
    --sub-hero-backgroundcolor: #EEEEEE;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;

}
.header{
    padding: 25px 0;
}
.container{
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;

}
.navigation-link{
    font-weight: 500;
    letter-spacing: 0.28px;
    color: var(--title-color);
}
.navigation-link:hover,
.navigation-link:focus{
    color: var(--logo-color);
}
.contacts-link{
    font-weight: 500;
    letter-spacing: 0.28px;
    color: var(--nav-color);
}
.contacts-link:hover,
.contacts-link:focus{
    color: var(--logo-color);
}
.hero{
    background-color: var(--main-background-color);
    padding: 200px 0;
}
.hero-title{
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 2.64px;
    line-height: 136%;
    text-transform: uppercase;
    color: var(--font-color);
}
.hero-btn{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 187%;
    letter-spacing: 0.96px;
    border-radius: 4px;
    background-color: var(--logo-color);
}
.info-list{
 padding: 94px 0;
}
.info-item{
    margin: 0 30px;
}


.list-title{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    color: var(--title-color);
  
}
.list-text{
    font-size: 14px;
    font-weight: 400;
    line-height:171.429%;
    letter-spacing: 0.42px;
color: var(--nav-color);

}
.work{
    
}
.title{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    color: var(--title-color);
   
        margin-bottom: 50px;
}
.work-list{
    list-style: none;
    padding: 36px 0;
    display: flex;
    }

.work-img{
    width: 370px;
height: 294px;
padding: 10px 0;
}
.team{
 background-color: var(--team-background-color);
    padding: 94px;
}
.team-list{
    list-style: none;
    padding: 30px 0;
    display: flex;
}
.photo{
    width: 270px;
height: 260px;
display: block;
padding: 0 10px;

}
.team-name{
    color: var(--title-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
}
.team.position{
    color: var(--nav-color);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
}
.footer{
    background-color: var(--main-background-color);
    padding: 60px 0;
}
.address-location{
    color: var(--font-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;
    letter-spacing: 0.42px;
}
.address-link{
    color: var(--nav-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;
    letter-spacing: 0.42px;
}

.sub-hero-btn{
    font-size: 16px;
    color: var(--title-color);
    font-weight: 500;
    line-height:  162.5%;
    letter-spacing: 0.48px;

}
.sub-hero-title{
    font-size: 18px;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 1.08px;
    color: var(--title-color);
}
.sub-hero-position{
    color: var(--nav-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 187.5%;
    letter-spacing: 0.48px;
}